header{
    background-image: url('Recursos/banner.jpg'); /* Specify the path to your image */
    background-size: cover; /* Ensures the image covers the entire header area */
    background-position: center center; /* Centers the image within the header */
    background-repeat: no-repeat;
    height: 200px;
}

button[type="submit"] {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease; /* Transición suave para el botón */
    display: block; /* Para que ocupe su propia línea */
    margin: 20px auto 0; /* Centrar el botón */
}

button[type="submit"]:hover {
    background-color: #8a4151;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    border-top: 1px solid #eee;
    color: #777;
    font-size: 15px;
    background-color: #e9ecef; 
}


section {
  scroll-margin-top: 80px; 
}

@media (max-width: 600px) {
    header {
      padding: 0;
      height: 100px;
    }
}