body {
    background-image: url(recursos/img/back.png);
}

.header {
    background: -webkit-gradient(linear, left top, right bottom, from(rgb(73, 64, 68)), to(rgb(7, 44, 21)));
    color: white;
    padding: 20px;
}

.header h2 {
    margin: 0;
}

.section-title {
    background-color: #e9ecef;
    padding: 5px 10px;
    font-weight: bold;
    margin-top: 20px;
    border-left: 5px solid #4b7a66;
}

.profile-pic {
    max-height: 200px;
    border-radius: 50%;
    filter: drop-shadow(0 0 0.75rem #4b7a66);
}

.info-label {
    font-weight: bold;
}
.puntero{
    cursor: pointer;
}
.puntero:hover{
    filter: drop-shadow(0 0 0.75rem #0cdf0c);
}
.card-header{
    border-left: 5px solid #4b7a66;
}
:target {
    scroll-margin-top: 80px; /*altura aprox de navbar */
}